<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hugoguillin.installertoolbox">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_installertoolbox"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_installertoolbox_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hugoguillin.installertoolbox.MainActivity" />
        </activity>

        <receiver
            android:name=".ParteReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".Rellenar_parte_horas"
            android:label="Nueva entrada"
            android:parentActivityName=".Parte_horas" />
        <activity
            android:name=".Parte_horas"
            android:label="@string/title_activity_parte_horas"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hugoguillin.installertoolbox.MainActivity" />
        </activity>
        <activity
            android:name=".Trabajos_pendientes"
            android:label="Trabajos pendientes"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Convenio"
            android:label="Convenio del metal A Coruña"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Info_tecnica"
            android:label="Información técnica"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Calendario"
            android:label="Calendario laboral"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>